<%= simple_form_for @boot, :html => { :class => 'form-vertical' }, :remote => true do |f| %>
<fieldset>
    <%= f.input :number, :input_html => { :value => boot_suggested_number } %>
    <%= f.input :boot_size_id, :collection => BootSize.all, :label_method => :size, :value_method => :id  %>
    <%= f.input :condition, :collection => boot_condition_options %>
    <%= f.input :brand , :collection => boot_brand_options %>
</fieldset>
    <div class="form-actions">
  <%= f.button :submit, :class => 'btn btn-primary' %>
  <%= submit_tag 'Reset', :type => :reset, :class => "btn btn-danger" %>
    </div>
<% end %>